
.effects .movable-effect {
    z-index: var(--z-index-movable-effect);
}

.grid.movable.by-player1 {
    --color-stripe: var(--color-player1);
}
.grid.movable.by-player2 {
    --color-stripe: var(--color-player2);
}

.grid.movable .effects .movable-effect{
    --stripe-start: -0.5%;
    --stripe-end: calc(var(--stripe-start) + 1.5%);
    --stripe-gap-end: 12%;

    background: repeating-linear-gradient(
            45deg,
            var(--color-stripe) var(--stripe-start),
            var(--color-stripe) var(--stripe-end),
            #0000 var(--stripe-end),
            #0000 var(--stripe-gap-end)
    );
}
.grid.movable-capturable.by-player1 .effects .movable-effect {
    background: var(--color-captureable-grid);
}
.grid.movable-capturable.by-player2 .effects .movable-effect {
    background: var(--color-captureable-grid);
}