
:root {
    --piece-svg-margin: calc(50% - var(--piece-svg-size) / 2);
    --piece-svg-size: 58px;
}

.piece {
    z-index: var(--z-index-piece);
    width: 100%;
    height: 100%;

    /*padding: var(--grid-padding);*/
}
.piece-name {
    margin: auto calc(50% - var(--grid-font-size) / 2);
    width: var(--grid-font-size);
    height: auto;
    text-align: center;

    font-family: "SH Serif - SemiBold", "Source Han Serif K VF", "思源宋体 VF", "思源黑体 VF", serif;
    font-size: var(--grid-font-size);
    line-height: calc(var(--grid-font-size));
    font-weight: lighter;

    /*background-image: url("../Img/ShogiPiece.svg");*/
}



.piece-svg-container {
    position: absolute;
    width: var(--piece-svg-size);
    height: var(--piece-svg-size);
    top: var(--piece-svg-margin);
    left: var(--piece-svg-margin);
}
.piece-svg {
    position: relative;
    top: -2px;
    width: 100%;
    height: 100%;
}
.piece-svg > path {
    fill: #1b2128;
}
.piece-name {
    z-index: var(--z-index-piece-name);

    position: relative;
    top: -1px;
}



/*敌方棋子*/
.piece.player2 {
    transform: rotate(180deg);
    transition: 0s;
}
.piece.player1 .piece-name {
    color: var(--color-player1);
}
.piece.player1 .piece-svg > path {
    stroke: var(--color-player1);
}
.piece.player2 .piece-name {
    color: var(--color-player2);
}
.piece.player2 .piece-svg > path {
    stroke: var(--color-player2);
}